/*-------- VIEWS -------------*/

/**************************
-> APP.vue
**************************/
.banner-div {
  position: relative;
  width: 100%;
  max-height: 500px;
  background: url('../images/code-color.png') fixed 0px 50px;
}

.banner-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.60;
  filter: blur(2.5px);
}
/*-------- COMPONENTS ---------*/

/**************************
-> FORMS
**************************/
.form-border-bot {
  width: 100%;
  padding: 1px;
  border-radius: 5px;
  background-color: var(--yedarkblue-trans);
  transition: background-color 0.35s;
}

.text-form {
  width: calc(100%);
  border: none;
  font-size: 15px;
  background-color: transparent;
  line-height: 25px;
  padding-top: 5px;
}

/**************************
-> SECTION
**************************/

.section-template {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1000px;
  border-radius: 5px;
  padding: 30px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  color: var(--main-color);
}

.section-title {
  text-align: center;
  margin:auto;
}

/**************************
-> IMG
**************************/
.image-template {
  height: 300px;
}

.profile-pic {
  position: relative;
  margin: auto;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: var(--main-color);
  /* box-shadow: 1px 1px 7.5px var(--main-color); */
  overflow: hidden;
}

.profile-pic-img {
  display: block;
  margin-top: -25px;
  width: 100%;
}

.pic-img-container {
  position: absolute;
  border-radius: 50%;
  width: 290px;
  height: 290px;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

.profile-pic-top {
  height: 50%;
  background-color: var(--secondary-color);
}

.profile-pic-bot {
  height: 50%;
  background-color: var(--secondary-color);
}

.half-top {
  top: -155px;
}

/**************************
-> CARD
**************************/
.card {
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 15px darkgrey;
  border-radius: 2px;
  width: 300px;
  height: 500px;
}

/**************************
-> SHAPES
**************************/
.circley {
  position: absolute;
  border-radius: 50%;
}
/**************************
-> RESUME
**************************/
.resume-name-title {
  padding-top: 90px;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
  z-index: 1000;
  position: sticky;
  padding-bottom: 250px;
}

.resume-full-name {
  font-size: 85px;
  font-family: 'Sanchez';
  font-weight: bold;
}

.resume-pro-title {
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
}

/**************************
-> TABS
**************************/
.tab-container {
  box-shadow: 5px 5px 10px darkgrey;
}
.tab {
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: inline-block;
  padding: 20px;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.current-tab {
  background-color: #bbc4da;
  color: var(--main-color);
  font-weight: bold;
}
/**************************
-> MEDIA QUERY
**************************/

/* MEDIA QUERY FOR LARGE DESKTOP */
@media only screen and (max-width:1200px){

}

/* MEDIA QUERY FOR LARGE TABLETS AND SMALL DESKTOP */
@media only screen and (max-width:992px){

}

/* MEDIA QUERY FOR TABLETS */
@media only screen and (max-width:768px){

}

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width:640px){

}
