@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto|Roboto+Mono|Slabo+27px|Source+Code+Pro|Sanchez');
/*So that elements of a set WIDTH will have the right width even with padding*/
* {
	box-sizing:border-box;
	line-height: 20px;
	/* BEIGE & DARK BLUE */
	--main-color: #E8E8E8;
	--secondary-color: #2d3444;
	/* --secondary-color: #273848; */

	/* YELLOWISH & DARK BLUE GRAY */
	/* really like this one*/
	/* --main-color: #273848; */
	/* --secondary-color: #f4f9a8; */
	/* --secondary-color: #F2F898; */
	/* --secondary-color: #fff; */


	/* AQUA GREEN & DARK BLUE GRAY */
	/* --main-color: #273848;
	--secondary-color: #3EEBAC; */

	/* DARK BLUE & POWDER BLUE */
	/* --main-color: #0F2028;
	--secondary-color: #83A6A7; */

	/* ORANGE -> #f68b7d */
}
/*If the browser doesnt know how to handle the recent element, it will behave as a block*/
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
/*Sets the bodys margins to 0*/
body {
  margin: 0;
  background-color: var(--secondary-color);
  position: relative;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
ul {
	padding: 0
}
li {
  list-style: none;
  display: inline-block;
}

h1,h2,h3,h4,h5,h6 { text-align: center;}

#app {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.main-color { color: var(--main-color); }

.secondary-color { color: var(--secondary-color); }

.m-auto { margin: auto; }

.hidden {
	display: none;
}

.showing {
	display: block;
}

.span-block {
	display: block;
}

.pos-relative { position: relative; }
/*clearfix hack!*/
.row:after{
  content:"";
  clear:both;
  display:block;
}
/* MEDIA QUERY FOR LARGE DESKTOP */
@media only screen and (max-width:1200px){

}

/* MEDIA QUERY FOR LARGE TABLETS AND SMALL DESKTOP */
@media only screen and (max-width:992px){

}

/* MEDIA QUERY FOR TABLETS */
@media only screen and (max-width:768px){

}

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width:640px){

}
