/*So that elements of a set WIDTH will have the right width even with padding*/
*{
	box-sizing:border-box;
}
/*If the browser doesnt know how to handle the recent element, it will behave as a block*/
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
/*Sets the bodys margins to 0*/
body {
  margin: 0;
  background-color: #2d3444;
  position: relative;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
  display: inline-block;
}

/*clearfix hack!*/
.row:after{
  content:"";
  clear:both;
  display:block;
}
/* MEDIA QUERY FOR LARGE DESKTOP */
@media only screen and (max-width:1200px){

}

/* MEDIA QUERY FOR LARGE TABLETS AND SMALL DESKTOP */
@media only screen and (max-width:992px){

}

/* MEDIA QUERY FOR TABLETS */
@media only screen and (max-width:768px){

}

/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width:640px){

}
